<h2>新規登録</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs new-user">
    <%= f.input :email, required: true, autofocus: true, placeholder: "メールアドレス" %>
    <div class="border"></div>
    <%= f.input :password, required: true, placeholder: ("パスワード(#{@minimum_password_length} 文字以上)" if @minimum_password_length) %>
    <div class="border"></div>
    <%= f.input :password_confirmation, required: true,placeholder: "パスワード確認" %>
    <div class="border"></div>
    <%= f.input :name, placeholder:"ユーザーネーム"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
